{% extends 'base.html' %}
{% load static %}
{% block content %}
    <head>
        <link rel="stylesheet" href="{% static 'courses.css' %}">
    </head>
    <div class="container">
        <h1 class="text-center mt-4">Courses</h1>
        <div class="search-container mt-4 d-flex">
            <input type="text" class="form-control w-100" placeholder="Search for courses">
            <button class="btn btn-secondary ml-2">Search</button>
            {% comment %} if admin user {% endcomment %}
            {% if user.is_superuser %}
                <button class="btn btn-primary ml-2" data-toggle="modal" data-target="#exampleModalCenter" style="width: 150px">Add Course</button>
            {% endif %}
        </div>
        <table class="table table-bordered mt-4">
            <thead>
                <tr>
                    <th>Department</th>
                    <th>Course Code</th>
                    <th>Course Title</th>
                    <th>Credit Hours</th>
                    <th>Lecturer</th>
                    <th>Course Level</th>
                    <th>Lab Lecturer</th>
                    <th>Past Lecturers</th>
                    <th>Building</th>
                    <th>Section</th>
                    {% if user.is_superuser %}
                        <th>Actions</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for course in courses %}
                <tr>
                    <td>{{ course.course_department.department_name }}</td>
                    <td>{{ course.course_code }}</td>
                    <td>{{ course.course_name }}</td>
                    <td>{{ course.credit_hours }}</td>
                    <td>{{ course.course_lecturer.lecturer_name }}</td>
                    <td>{{ course.course_level }}</td>
                    <td>{{ course.course_lab_lecturer.lecturer_name }}</td>
                    <td>
                        {% for lecturer in course.course_past_lecturers.all %}
                            {{ lecturer.lecturer_name }}{% if not forloop.last %}, {% endif %}
                        {% empty %}
                            None
                        {% endfor %}
                    </td>
                    <td>{{ course.course_building }}</td>
                    <td>{{ course.course_section }}</td>
                    {% if user.is_superuser %}
                        <td>
                            {% comment %} go to admin panel {% endcomment %}
                            <a href="{% url 'edit_course' course.id %}" class="btn btn-sm btn-primary">
                                <i class="fas fa-edit"></i>
                            </a>
                            <a href="/admin/pages/course/{{ course.id }}/delete/" class="btn btn-sm btn-danger">
                                <i class="fas fa-trash"></i>
                            </a>
                        </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>


    {% if user.is_superuser %}
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <form method="POST" action="{% url 'add_course' %}">
                {% csrf_token %}
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Add Course</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="department">Department *</label>
                        <select required name="course_department" class="form-control" id="department">
                            <option value="">Choose Department</option>
                            {% for department in departments %}
                                <option value="{{ department.id }}">{{ department.department_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="code">Course Code *</label>
                        <input required name="course_code" type="text" class="form-control" id="code" placeholder="Enter Course Code">
                    </div>
                    <div class="form-group">
                        <label for="name">Course Name *</label>
                        <input required name="course_name" type="text" class="form-control" id="name" placeholder="Enter Course Name">
                    </div>
                    <div class="form-group">
                        <label for="credit">Credit Hours</label>
                        <input name="credit_hours" type="number" class="form-control" id="credit" placeholder="Enter Credit Hours">
                    </div>
                    <div class="form-group">
                        <label for="lecturer">Lecturer</label>
                        <select name="course_lecturer" class="form-control" id="lecturer">
                            <option value="">Choose Lecturer</option>
                            {% for lecturer in lecturers %}
                                <option value="{{ lecturer.id }}">{{ lecturer.lecturer_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="level">Course Level</label>
                        <input name="course_level" type="number" class="form-control" id="level" placeholder="Enter Course Level">
                    </div>
                    <div class="form-group">
                        <label for="lab">Lab Lecturer</label>
                        <select name="course_lab_lecturer" class="form-control" id="lab">
                            <option value="">Choose Lab Lecturer</option>
                            {% for lecturer in lecturers %}
                                <option value="{{ lecturer.id }}">{{ lecturer.lecturer_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="past">Past Lecturers</label>
                        <!-- multiselect -->
                        <select name="course_past_lecturers" multiple class="form-control" id="past">
                            {% for lecturer in lecturers %}
                                <option value="{{ lecturer.id }}">{{ lecturer.lecturer_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="building">Building</label>
                        {% comment %} <input required name="course_building" type="text" class="form-control" id="building" placeholder="Enter Building Name"> {% endcomment %}
                        <select required name="course_building" class="form-control" id="building">
                            <option value="">Choose Building</option>
                            <option value="A">A (Girls)</option>
                            <option value="B">B (Boys)</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="section">Section</label>
                        <input name="course_section" type="text" class="form-control" id="section" placeholder="Enter Section">
                    </div>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save </button>
                </div>
            </form>
          </div>
        </div>
      </div>
    {% endif %}
{% endblock %}
