{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'esnad.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <h3 class="mt-4 mb-4 text-center">Assign Lecturers to Courses</h3>
        <table class="table table-hover table-bordered">
            <thead>
              <tr>
                <th scope="col">Courses</th>
                <th scope="col">Section</th>
                <th scope="col">Lecturers</th>
                <th scope="col">Lecturer Type</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              {% for course in courses %}
                <tr>
                    <form action="{% url 'add_lecturer_to_course' course.id %}" method="POST">
                    <td>{{ course.course_name }}</td>
                    <td>{{ course.course_section }}</td>
                    <td>
                        {% csrf_token %}
                        {% comment %} onchange submit this form {% endcomment %}
                        <select required name="lecturer" name="lecturer" class="form-control bg-white border-0" {% if not user.is_superuser %} disabled {% endif %}>
                            <option value="" disabled hidden>Choose here</option>
                        {% for lecturer in lecturers %}
                            {% if lecturer == course.course_lecturer or lecturer == course.course_lab_lecturer %}
                                <option value="{{ lecturer.id }}" selected>
                                    {{ lecturer.lecturer_name }}
                                    {% if user.is_superuser and lecturer in course.course_past_lecturers.all %}
                                        <span style="font-size: 10px;">(Suggested)</span>
                                    {% elif lecturer.lecturer_department == course.course_department %}
                                        <span style="font-size: 10px;">(Suggested)</span>
                                    {% endif %}
                                </option>
                            {% else %}
                                <option value="{{ lecturer.id }}">
                                    {{ lecturer.lecturer_name }}
                                    {% if user.is_superuser and lecturer in course.course_past_lecturers.all %}
                                        <span style="font-size: 10px;">(Suggested)</span>
                                    {% elif lecturer.lecturer_department == course.course_department %}
                                        <span style="font-size: 10px;">(Suggested)</span>
                                    {% endif %}
                                </option>
                            {% endif %}
                        {% endfor %}
                        </select>
                    </td>
                    <td>
                        <select required name="lecturer_type" class="form-control bg-white border-0">
                            <option value="">Choose Type</option>
                            <option value="L" {% if course.course_lab_lecturer %} selected {% endif %}
                            >Laboratory</option>
                            <option value="T" {% if course.course_lecturer %} selected {% endif %}
                            >Theory</option>
                        </select>
                    </td>
                    <td>
                        <button type="submit" class="btn btn-primary" {% if not user.is_superuser %} disabled {% endif %}>Assign</button>
                    </td>
                </form>
                </tr>
                {% endfor %}
            </tbody>
          </table>
    </div>

    {% comment %} <script src="{% static 'esnad.js' %}"></script> {% endcomment %}
    
{% endblock %}
