{% extends 'base.html' %}
{% load static %}
{% block content %}
    <head>
    <link rel="stylesheet" href="{% static 'landing.css' %}">
    </head>
    
    <main>
        <div class="banner">
            <img src="{% static 'images/banner.jpg' %}">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12 mt-4">
                    <h2>Latest News</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 mt-4">
                    <div class="card">
                        <img class="card-img-top" src="{% static 'images/demo-news-1.jpg' %}" alt="Demo News Image 1">
                        <div class="card-body">
                            <h5 class="card-title">Demo News Title 1</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mt-4">
                    <div class="card">
                        <img class="card-img-top" src="{% static 'images/demo-news-2.jpg' %}" alt="Demo News Image 2">
                        <div class="card-body">
                            <h5 class="card-title">Demo News Title 2</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mt-4">
                    <div class="card">
                        <img class="card-img-top" src="{% static 'images/demo-news-3.jpg' %}" alt="Demo News Image 3">
                        <div class="card-body">
                            <h5 class="card-title">Demo News Title 3</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
